.titulo-principal {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
}

.paginas-conteiner a {
    margin: 1rem;
    padding: 1rem;
    background-color: #2e3239;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}